# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.idea
.vscode
.vim

# Sphix documentation
docs/_build/

# Unit tests / coverage
coverage/
*.coverage
.tox/
.teflo/
